/* ///////////////MENU//////////////// */
#deconnexion{
  float: right;
  margin-top: -35px;
  margin-right: 15px;
  display: none;
}

.titreActualite{
  margin-right: 5px;

}



/* ////////////PROFIL VISITEUR///////////// */
#ajouterAmi{
  display: none;
}

#notifSuccessAmi{
  display: none;
}


#boutonAjouterAmi{
  color: #17a2b8;
  background-color: transparent;
  background-image: none;
  border-color: #17a2b8;
}
#boutonAjouterAmi:hover{
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}


/* //////////////////Message Alert, Erreur, Succes/////////////////// */
#reponseConnection{
  display: none;
  width: 375px;
  margin: auto;
}

#reponseEnregistrement{
  display: none;
  width: 335px;
  margin: auto;
}

#reponseEnregistrementErreur{
  display: none;
  width: 375px;
  margin: auto;
}




/* ////////////////////directive rechercherBar///////////////////////////// */

.searchRight{
  float: right;
  margin-right: 15px
}

.search-form .form-group {
    float: right !important;
    height: 32px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 25px;
    border: 1px solid #ccc;
  }
  .search-form .form-group input.form-control {
    padding-right: 20px;
    border: 0 none;
    background: transparent;
    box-shadow: none;
    display:block;
  }
  .search-form .form-group input.form-control::-webkit-input-placeholder {
    display: none;
  }
  .search-form .form-group input.form-control:-moz-placeholder {
    /* Firefox 18- */
    display: none;
  }
  .search-form .form-group input.form-control::-moz-placeholder {
    /* Firefox 19+ */
    display: none;
  }
  .search-form .form-group input.form-control:-ms-input-placeholder {
    display: none;
  }

  .search-form .form-group span.form-control-feedback {
    position: absolute;
    top: -1px;
    right: -2px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #3596e0;
    left: initial;
    font-size: 14px;
  }
  

  #listeGroupeRecherche{
    z-index: 10;
    position: absolute;
    margin-left: -10px;
  }


/* ////////////PUBLICATIONS/////////////// */

.publications-body{
  border-bottom: 1px inset #B3A9A9;
  margin-bottom: 15px
}

.supprimePublication{
  border: none;
  background: none;
  padding: 5px;
  margin-top: -5px;
  margin-left: 15px;
}

/* ////////////COMMENTAIRES/////////////// */

.commentaires{
  list-style: none;
  margin: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.459);  
  padding: 5px;
  border-radius: 5px;


}

.containerCommentaires{
  margin-bottom: 20px;
  margin-top: -15px;
}

.commentaires li{
  margin-bottom: 10px;
  padding-bottom: 5px;
  margin-top: 50px;
  border-bottom: 1px inset #B3A9A9;
}

.boutonCommentaire{
  border: none;
  padding: 2px;
}

.champCommentaire{
  border: 1px solid #B3A9A9;
}

.commentaires li.left .commentaires-body
{
    margin-left: 60px;
}

.commentaires li.right .commentaires-body
{
    margin-right: 60px;
}


.form-control-commentaire{
  border-radius: 5px;
  
}

  /* ////////////MESSAGE PRIVER/////////////// */



.nomMessagePriver{
  margin-top: -15px;
}

.chat-body1{
  margin-bottom: 20px;
}

.chat_time{
  font-size: 11px;
}

  /* ////////////CHATBOX/////////////// */
  #chatbox{
    position: fixed;
    bottom: 0;
    opacity: 0.9;
    margin-bottom: 10px;
  }

  #groupeIconChatBox{
    font-size: 15px;
    font-weight: bold;
    color: black;
  }


  #boutonAfficheChatBox{
    width: 100%;
    background: none;
    border: none;
    text-decoration: none;
    display: contents;
    height: 100%;
  
  }
  
  #groupeBoutonChatBox{
    width: 100%;
  }
  
  #chevronChatBox{
    position: absolute;
  }



  .chat
{
    list-style: none;
    margin: 0;
    padding: 10;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel-chatbox
{
    overflow-y: scroll;
    height: 250px;
}

::-webkit-scrollbar-track
{
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
    background-color: #555;
}

#barChatbox{
      margin-bottom: 0px;
}



/* /////////////////// MESSAGE INSTANTANNER ////////////////// */
#custom-search-input {
  background: #e8e6e7 none repeat scroll 0 0;
  margin: 0;
  padding: 10px;
}
   #custom-search-input .search-query {
   background: #fff none repeat scroll 0 0 !important;
   border-radius: 4px;
   height: 33px;
   margin-bottom: 0;
   padding-left: 7px;
   padding-right: 7px;
   }
   #custom-search-input button {
   background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
   border: 0 none;
   border-radius: 3px;
   color: #666666;
   left: auto;
   margin-bottom: 0;
   margin-top: 7px;
   padding: 2px 5px;
   position: absolute;
   right: 0;
   z-index: 9999;
   }
   .search-query:focus + button {
   z-index: 3;   
   }
   .all_conversation button {
   background: #f5f3f3 none repeat scroll 0 0;
   border: 1px solid #dddddd;
   height: 38px;
   text-align: left;
   width: 100%;
   }
   .all_conversation i {
   background: #e9e7e8 none repeat scroll 0 0;
   border-radius: 100px;
   color: #636363;
   font-size: 17px;
   height: 30px;
   line-height: 30px;
   text-align: center;
   width: 30px;
   }
   .all_conversation .caret {
   bottom: 0;
   margin: auto;
   position: absolute;
   right: 15px;
   top: 0;
   }
   .all_conversation .dropdown-menu {
   background: #f5f3f3 none repeat scroll 0 0;
   border-radius: 0;
   margin-top: 0;
   padding: 0;
   width: 100%;
   }
   .all_conversation ul li {
   border-bottom: 1px solid #dddddd;
   line-height: normal;
   width: 100%;
   }
   .all_conversation ul li a:hover {
   background: #dddddd none repeat scroll 0 0;
   color:#333;
   }
   .all_conversation ul li a {
  color: #333;
  line-height: 30px;
  padding: 3px 20px;
}
   .member_list .chat-body {
   margin-left: 47px;
   margin-top: 0;
   }
   .top_nav {
   overflow: visible;
   }
   .member_list .contact_sec {
   margin-top: 3px;
   }
   .member_list li {
   padding: 6px;
   }
   .member_list ul {
   border: 1px solid #dddddd;
   }
   .chat-img img {
   height: 34px;
   width: 34px;
   }
   .member_list li {
   border-bottom: 1px solid #dddddd;
   padding: 6px;
   }
   .member_list li:last-child {
   border-bottom:none;
   }
   .member_list {
   /* height: 380px; */
   overflow-x: hidden;
   overflow-y: auto;
   }
   .sub_menu_ {
  background: #e8e6e7 none repeat scroll 0 0;
  left: 100%;
  max-width: 233px;
  position: absolute;
  width: 100%;
}
.sub_menu_ {
  background: #f5f3f3 none repeat scroll 0 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: none;
  left: 100%;
  margin-left: 0;
  max-width: 233px;
  position: absolute;
  top: 0;
  width: 100%;
}
.all_conversation ul li:hover .sub_menu_ {
  display: block;
}
.new_message_head button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
}
.new_message_head {
  background: #f5f3f3 none repeat scroll 0 0;
  float: left;
  font-size: 13px;
  font-weight: 600;
  padding: 18px 10px;
  width: 100%;
}
.message_section {
  border: 1px solid #dddddd;
}
.chat_area {
  float: left;
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}
.chat_area li {
  padding: 14px 14px 0;
}
.chat_area li .chat-img1 img {
  height: 40px;
  width: 40px;
}
.chat_area .chat-body1 {
  margin-left: 50px;
}
.chat-body1 p {
  background: #fbf9fa none repeat scroll 0 0;
  padding: 10px;
}
.chat_area .admin_chat .chat-body1 {
  margin-left: 0;
  margin-right: 50px;
}
.chat_area li:last-child {
  padding-bottom: 10px;
}
.message_write {
  background: #f5f3f3 none repeat scroll 0 0;
  float: left;
  padding: 15px;
  width: 100%;
}

.message_write textarea.form-control {
  height: 70px;
  padding: 10px;
}
.chat_bottom {
  float: left;
  margin-top: 13px;
  width: 100%;
}
.upload_btn {
  color: #777777;
}
.sub_menu_ > li a, .sub_menu_ > li {
  float: left;
  width:100%;
}
.member_list li:hover {
  background: #428bca none repeat scroll 0 0;
  color: #fff;
  cursor:pointer;
}