<html>
<body>
	<div class="container">
		<div class="row resizeDivTitre">
			<div class="thumbnail center well well-md text-center">
			<h2>Actualité</h2>  
			nombre de membre en ligne ({{nbUtilisateurConnecter}})
			nombre de publications ()
			
			</div>
		</div>

		<accueilprofil></accueilprofil>

		<!-- PUBLICATION -->
		<div class="well" ng-repeat-start="item in itemListePublication">
			<div class="publications-body">
				<a class="pull-left" href="#">
				[photo de l'article]
				</a>
				<div class="media-body">
					<button id="{{item.idPublication}}" class="pull-right supprimePublication" ng-click="supprimerLaPublication($event)" type="button"><i id="{{item._id}}" class="fas fa-times-circle"></i></button>
					<p class="text-right">{{item.date}} <span class="glyphicon glyphicon-time"></span></small></p>
					<p class="text-left"><a href="#!/profil/recherche/{{item.idPublication}}">{{item.prenom}}{{item.prenomAuteur}} {{item.nomAuteur}}</a> :</p>
					<p>{{item.publication}}</p>
				</div>
				
			</div>
		</div>
		<div ng-repeat-end ng-controller="commentairesPublicationCtrl">
			<!-- PUBLIER UN COMMENTAIRE -->
			<div>
				<input id="{{item._id}}" ng-focus="focusInput()" class="champCommentaire col-sm-9 pull-left" placeholder="Votre commentaire .." name="messagecommentaire" ng-model="messagecommentaire" >
				<button class="btn-info col-sm-3 boutonCommentaire pull-left" ng-click="publierCommentaire(item._id)" type="button">Partager</button>
			</div>
			<!-- AFFICHER LES COMMENTAIRES -->
			<div class="containerCommentaires">
				<ul class="commentaires">
					<li class="left clearfix" ng-repeat="itemCommentaire in item.idCommentateur">
						<span class="chat-img pull-left">
							<img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
						</span>
						<div class="commentaires-body clearfix">
							<div class="header">
								<button id="{{itemCommentaire.idUniqueCommentaire}}" class="pull-right supprimePublication" ng-click="supprimerLeCommentaire($event)" type="button"><i id="{{item._id}}" class="fas fa-times-circle"></i></button>

								<strong class="primary-font">{{itemCommentaire.prenom}} {{itemCommentaire.nom}}</strong> <small class="pull-right text-muted">

								{{itemCommentaire.date}} <span class="glyphicon glyphicon-time"></span></small>
							</div>
							<p>
								{{itemCommentaire.commentaire}} 
							</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
		
	</div>

    
</body>
</html>