<div id="connexion" ng-controller="connexionCtrl">
    <div class="container">
        <div class="row">
                <div class="thumbnail center well well-sm text-center">
                    <h2>Connexion</h2>
                    
                    <p>Connectez-vous si vous etes deja enregistrer !</p>
                    
                    <form ng-submit="funcConnexion()" role="form" class="well form-horizontal">
                        <fieldset>
                            <div class="form-group">
                                <div class="col-md-4 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input ng-model="mail" name="mail" placeholder="mail" class="form-control"  type="email"></input>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input ng-model="mdp"  name="mdp" placeholder="Mot de passe" class="form-control"  type="password"></input>
                                    </div>
                                </div>
                            </div>
                            <input type="submit" value="Subscribe" class="btn btn-large btn-primary"/>
                        </fieldset>
                    </form>
                </div> 
        </div>
        <a href="#!enregistrement" id="buttonEnregistrement">Pas de compte ?</a>
    </div>
</div>