<div id="notifications"></div>

<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-sm-10">
            <h1 ng-bind="prenomNom"></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->

            <div class="text-center">
                <img src="../images/avatar_defaut.png" class="avatar img-circle img-thumbnail" alt="avatar">
                <!-- <h6>Changer de photo de profil</h6>
                <input type="file" class="text-center center-block file-upload"> -->
            </div>
            </hr>
            <br>


            <div class="panel panel-default">
                <div class="panel-heading">Site web <i class="fa fa-link fa-1x"></i>
                </div>
                <div class="panel-body"><a ng-bind="website" ng-href="{{website}}" target="_blank"></a></div>
            </div>


            <ul class="list-group">
                <li class="list-group-item text-muted">Activiter <i class="fa fa-dashboard fa-1x"></i>
                </li>
                <!-- <li class="list-group-item text-right"><span class="pull-left"><strong>Partages</strong></span> 0</li> -->
                <!-- <li class="list-group-item text-right"><span class="pull-left"><strong>J'aimes</strong></span> 0</li> -->
                <li class="list-group-item text-right"><span class="pull-left"><strong>Postes</strong></span> 0</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Amis</strong></span> {{previewItemListeAmi}}</li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-heading">Autres reseaux</div>
                <div class="panel-body">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-github"></i> 
                    <i class="fab fa-instagram"></i> 
                </div>
            </div>

        </div>
        <!--/col-3-->
    <div class="col-sm-9">
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="profil/#home">Mur (<span ng-bind="previewItemListePublication"></span>)</a>
            </li>
            <li>
                <a data-toggle="tab" href="profil/#informations">Informations</a>
            </li>
            <li>
                <a data-toggle="tab" href="profil/#messagesInstantanner">Messages instantannés (<span ng-bind="previewMessageInstantanner"></span>)</a>
            </li>
            <li>
                <a data-toggle="tab" href="profil/#messagesPriver" ng-click="afficheConversationPriver('actualisation')">Messages privés </a>
            </li>
            <li>
                <a data-toggle="tab" href="profil/#notificationAmi">Demandes amis (<span ng-bind="previewItemDemandeAmi"></span>)</a>
            </li>
            <li>
                <a data-toggle="tab" href="profil/#recommandationAmi">Recommandation d'amis (<span ng-bind="viewListeDesRecommandationsAmis"></span>)</a>
            </li>
            <li>
                <a data-toggle="tab" href="profil/#listeami">Liste d'amis (<span ng-bind="previewItemListeAmi"></span>)</a>
            </li>
        </ul>

        <div class="tab-content">
            <!-- MUR -->
            <div class="tab-pane active" id="home">
                <hr>
                    <publicationbar></publicationbar>

                    <listepublication></listepublication>

                    
            </div>

            <!-- INFORMATIONS -->
            <div class="tab-pane" id="informations">
                <hr>
                <formulaireprofil></formulaireprofil>
                <hr>

            </div>


            <!-- MESSAGES INSTANTANER -->
            <div class="tab-pane" id="messagesInstantanner">
                <h2>Messages instantanés</h2>
                <hr>
                <affichemessageinstantanner></affichemessageinstantanner>

            </div>

            <!-- MESSAGES PRIVER -->
            <div class="tab-pane" id="messagesPriver">
                <h2>Messages privés</h2>
                <hr>
                <form class="form" role="form">
                    <div class="form-group">
                        <messagepriver></messagepriver>
                    </div>
                </form>
            </div>

            <!-- NOTIFICATION AMI -->
            <div class="tab-pane" id="notificationAmi">
                <hr>
                <div class="form-group">
                    <notificationami></notificationami>
                </div>
                    
            </div>

            <!-- RECOMMANDATION D'AMIS -->
            <div class="tab-pane" id="recommandationAmi">
                <hr>
                    Liste des recommandations d'amis
                    <listerecommandationami></listerecommandationami>
                <hr>
                    Recommandation d'amis
                    <recommandationami></recommandationami>
            </div>
            
            <!-- LISTE D'AMI -->
            <div class="tab-pane" id="listeami">
                <hr>
                    <listeami></listeami>
                    
            </div>

        </div>
        <!--/tab-content-->

    </div>
    <!--/col-9-->
</div>
<!--/row-->